.card {

    border-radius: 20px;

    overflow: hidden;

    color: white;

    box-shadow: 0 12px 20px rgba(0, 0, 0, .25);

    transition: .3s;

}

.card:hover {

    transform: translateY(-10px) scale(1.03);

}

.image {

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 25px;

}

.image img {

    width: 150px;

    height: 150px;

    transition: .3s;

}

.card:hover img {

    transform: scale(1.15);

}

.content {

    padding: 20px;

    text-align: center;

}

.content h2 {

    text-transform: capitalize;

    margin-bottom: 12px;

    font-size: 1.8rem;

}

.type {

    display: inline-block;

    padding: 8px 18px;

    border-radius: 25px;

    background: rgba(255, 255, 255, .25);

    margin-bottom: 20px;

    font-weight: bold;

    text-transform: capitalize;

}

.stats {

    display: flex;

    justify-content: space-between;

    gap: 10px;

}

.stats div {

    flex: 1;

    background: rgba(255, 255, 255, .2);

    border-radius: 12px;

    padding: 10px;

}

.stats span {

    display: block;

    font-size: .8rem;

}

.stats strong {

    font-size: 1.2rem;

}

.experience {

    margin-top: 20px;

    background: rgba(255, 255, 255, .2);

    border-radius: 12px;

    padding: 12px;

}

.experience span {

    display: block;

    margin-bottom: 6px;

}

/* Colores por tipo */

.fire {
    background: linear-gradient(#ff9800, #e65100);
}

.water {
    background: linear-gradient(#64b5f6, #1565c0);
}

.grass {
    background: linear-gradient(#81c784, #2e7d32);
}

.electric {
    background: linear-gradient(#fff176, #fbc02d);
    color: #333;
}

.poison {
    background: linear-gradient(#ba68c8, #7b1fa2);
}

.flying {
    background: linear-gradient(#90caf9, #5c6bc0);
}

.bug {
    background: linear-gradient(#aed581, #558b2f);
}

.normal {
    background: linear-gradient(#eeeeee, #9e9e9e);
    color: #333;
}

.ground {
    background: linear-gradient(#d7ccc8, #8d6e63);
}

.rock {
    background: linear-gradient(#bcaaa4, #6d4c41);
}

.psychic {
    background: linear-gradient(#f48fb1, #d81b60);
}

.ice {
    background: linear-gradient(#b3e5fc, #039be5);
}

.dragon {
    background: linear-gradient(#7986cb, #3949ab);
}

.dark {
    background: linear-gradient(#616161, #212121);
}

.fairy {
    background: linear-gradient(#f8bbd0, #ec407a);
}

.ghost {
    background: linear-gradient(#9575cd, #512da8);
}

.fighting {
    background: linear-gradient(#bcaaa4, #6d4c41);
}

.id{

    display:block;

    font-size:1rem;

    font-weight:bold;

    margin-bottom:10px;

}